<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

{% if object_list %}
<table border="1px">
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Name</th>
        <th>Phone</th>
    </tr>

    {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.order_dt }}</td>
            <td>{{ object.order_name }}</td>
            <td>{{ object.order_phone }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
    Нет данных
{% endif %}

</body>
</html>